(
    state: NotAuthenticated,
    greeting: (
        kind: Ok,
        code: None,
        text: Text("IMAP server ready.")
    ),

    hide_commands: ["starttls"],
    caps: [Other(CapabilityOther(inner: Atom("IMAP4")))],
    caps_tls: [],
    caps_auth: [],
    caps_tls_auth: [],

    hook_authenticate: Terminate("Vulnerability, proceeded in plaintext."),
    hook_login: Terminate("Vulnerability, proceeded in plaintext."),
    hook_select: Terminate("Vulnerability, proceeded in plaintext."),

	cert: Cert(
		crt_path: "certs/example.org.pem",
		key_path: "certs/example.org-key.pem",
	),
    implicit_tls: false,
)

