(
	state: NotAuthenticated,
	greeting: (
		kind: Ok,
		code: Some(Capability(NonEmptyVec([Imap4Rev1, StartTls, LoginDisabled]))),
		text: Text("IMAP server ready.")
	),

	response_after_greeting: Some("* SEARCH 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20\r\n"),

	caps: [Imap4Rev1, StartTls, LoginDisabled],
	caps_tls: [Imap4Rev1, Auth(Plain), Auth(Login)],
	caps_auth: [Imap4Rev1],
	caps_tls_auth: [Imap4Rev1],

	cert: Cert(
		crt_path: "certs/example.org.pem",
		key_path: "certs/example.org-key.pem",
	),
	implicit_tls: false,
)
