(
	state: NotAuthenticated,

	greeting: (
		// TODO: This doesn't work anymore in imap-codec > 0.8.0.
		// kind: No,
		kind: Ok,
		code: Some(Alert),
		text: Text("bAjdyeKO")
	),

	caps:          [],
	caps_tls:      [],
	caps_auth:     [],
	caps_tls_auth: [],

	cert: Cert(
		crt_path: "<not needed>",
		key_path: "<not needed>",
	),

	implicit_tls: false,
)

