(
    greeting: "-ERR POP3 server ready.\r\n",

    override_response: {
        "quit": "+OK go away\r\n",
    },

    capa: [
        "STLS",
    ],
    capa_auth:     [], // not interested after insecure authentication
    capa_tls:      [], // not interested after STARTTLS
    capa_tls_auth: [], // not interested after STARTTLS

	cert: Cert(
		crt_path: "certs/example.org.pem",
		key_path: "certs/example.org-key.pem",
	),
    implicit_tls: false,
)
