(
    capabilities: [StartTLS],

    capabilities_tls: [Auth([Plain])],
    greeting: "221 Service closing transmission channel\r\n",

	cert: Cert(
		crt_path: "certs/example.org.pem",
		key_path: "certs/example.org-key.pem",
	),
    implicit_tls: false,

    hook_data: Pass("Allow email to be send."),
)
