(
	state: NotAuthenticated,
	greeting: Ok(
		tag: None,
		code: Some(Capability(NonEmptyVec(inner: [Imap4Rev1, Other(Atom(inner: "UTF8=ONLY")), Enable, StartTls]))),
		text: Text(inner: "IMAP server ready.")
	),
	caps: [Imap4Rev1, Other(Atom(inner: "UTF8=ONLY")), Enable, StartTls],
	caps_tls: [Imap4Rev1, Other(Atom(inner: "UTF8=ONLY")), Enable, StartTls],
	caps_auth: [Imap4Rev1],
	caps_tls_auth: [Imap4Rev1],

	pkcs12: (
		file: "certs/example.org.p12",
		password: "changeit",
	),
	implicit_tls: false,
)
