(
    state: NotAuthenticated,
    greeting: (
        kind: Ok,
        code: Some(Capability(NonEmptyVec([
            Imap4Rev1,
            Auth(Other(AuthMechanismOther(Atom("ANONYMOUS")))),
            Auth(Other(AuthMechanismOther(Atom("BINARY")))),
            Auth(Other(AuthMechanismOther(Atom("CRAM-MD5")))),
            Auth(Other(AuthMechanismOther(Atom("CRAM-SH1")))),
            Auth(Other(AuthMechanismOther(Atom("CRAM-SHA1")))),
            Auth(Other(AuthMechanismOther(Atom("CRAM-SHA2")))),
            Auth(Other(AuthMechanismOther(Atom("CRAM-SHA256")))),
            Auth(Other(AuthMechanismOther(Atom("CRAM-SHA384")))),
            Auth(Other(AuthMechanismOther(Atom("CRAM-SHA512")))),
            Auth(Other(AuthMechanismOther(Atom("CRAM=SHA1")))),
            Auth(Other(AuthMechanismOther(Atom("DIGEST-MD5")))),
            Auth(Other(AuthMechanismOther(Atom("DIGEST-MD6")))),
            Auth(Other(AuthMechanismOther(Atom("DPA")))),
            Auth(Other(AuthMechanismOther(Atom("EL-TAC")))),
            Auth(Other(AuthMechanismOther(Atom("EL-VOICE")))),
            Auth(Other(AuthMechanismOther(Atom("EXTERNAL")))),
            Auth(Other(AuthMechanismOther(Atom("GS2-IAKERB")))),
            Auth(Other(AuthMechanismOther(Atom("GS2-KRB5")))),
            Auth(Other(AuthMechanismOther(Atom("GSS-SPNEGO")))),
            Auth(Other(AuthMechanismOther(Atom("GSSAPI")))),
            Auth(Other(AuthMechanismOther(Atom("KERBEROS_V4")))),
            Auth(Other(AuthMechanismOther(Atom("LOGIN")))),
            Auth(Other(AuthMechanismOther(Atom("MSN")))),
            Auth(Other(AuthMechanismOther(Atom("NONE")))),
            Auth(Other(AuthMechanismOther(Atom("NTLM")))),
            Auth(Other(AuthMechanismOther(Atom("OAUTHBEARER")))),
            Auth(Other(AuthMechanismOther(Atom("ONECOM")))),
            Auth(Other(AuthMechanismOther(Atom("OPENID20")))),
            Auth(Other(AuthMechanismOther(Atom("OTP")))),
            Auth(Other(AuthMechanismOther(Atom("PLAIN")))),
            Auth(Other(AuthMechanismOther(Atom("PLAIN-CLIENTTOKEN")))),
            Auth(Other(AuthMechanismOther(Atom("RPA")))),
            Auth(Other(AuthMechanismOther(Atom("SAML20")))),
            Auth(Other(AuthMechanismOther(Atom("SCRAM-MD5")))),
            Auth(Other(AuthMechanismOther(Atom("SCRAM-SHA-1")))),
            Auth(Other(AuthMechanismOther(Atom("SCRAM-SHA-256")))),
            Auth(Other(AuthMechanismOther(Atom("SCRAM-SHA-256-PLUS")))),
            Auth(Other(AuthMechanismOther(Atom("SECURID")))),
            Auth(Other(AuthMechanismOther(Atom("SHADOW")))),
            Auth(Other(AuthMechanismOther(Atom("SKEY")))),
            Auth(Other(AuthMechanismOther(Atom("SRP")))),
            Auth(Other(AuthMechanismOther(Atom("SYNOAUTH")))),
            Auth(Other(AuthMechanismOther(Atom("TOKEN")))),
            Auth(Other(AuthMechanismOther(Atom("X-BIO")))),
            Auth(Other(AuthMechanismOther(Atom("X-CHMAIL")))),
            Auth(Other(AuthMechanismOther(Atom("X-PLAIN-SUBMIT")))),
            Auth(Other(AuthMechanismOther(Atom("X-UMS")))),
            Auth(Other(AuthMechanismOther(Atom("X-WEBLOGIN")))),
            Auth(Other(AuthMechanismOther(Atom("X-ZIMBRA")))),
            Auth(Other(AuthMechanismOther(Atom("XGWTRUSTEDAPP")))),
            Auth(Other(AuthMechanismOther(Atom("XOAUTH")))),
            Auth(Other(AuthMechanismOther(Atom("XOAUTH2")))),
            Auth(Other(AuthMechanismOther(Atom("XSRVCTOKEN")))),
            Auth(Other(AuthMechanismOther(Atom("X_NORTEL_HMAC_MD5")))),
            Auth(Other(AuthMechanismOther(Atom("ZIMBRA")))),
        ]))),
        text: Text("IMAP server ready.")
    ),
    caps: [
        Imap4Rev1,
        Auth(Other(AuthMechanismOther(Atom("ANONYMOUS")))),
        Auth(Other(AuthMechanismOther(Atom("BINARY")))),
        Auth(Other(AuthMechanismOther(Atom("CRAM-MD5")))),
        Auth(Other(AuthMechanismOther(Atom("CRAM-SH1")))),
        Auth(Other(AuthMechanismOther(Atom("CRAM-SHA1")))),
        Auth(Other(AuthMechanismOther(Atom("CRAM-SHA2")))),
        Auth(Other(AuthMechanismOther(Atom("CRAM-SHA256")))),
        Auth(Other(AuthMechanismOther(Atom("CRAM-SHA384")))),
        Auth(Other(AuthMechanismOther(Atom("CRAM-SHA512")))),
        Auth(Other(AuthMechanismOther(Atom("CRAM=SHA1")))),
        Auth(Other(AuthMechanismOther(Atom("DIGEST-MD5")))),
        Auth(Other(AuthMechanismOther(Atom("DIGEST-MD6")))),
        Auth(Other(AuthMechanismOther(Atom("DPA")))),
        Auth(Other(AuthMechanismOther(Atom("EL-TAC")))),
        Auth(Other(AuthMechanismOther(Atom("EL-VOICE")))),
        Auth(Other(AuthMechanismOther(Atom("EXTERNAL")))),
        Auth(Other(AuthMechanismOther(Atom("GS2-IAKERB")))),
        Auth(Other(AuthMechanismOther(Atom("GS2-KRB5")))),
        Auth(Other(AuthMechanismOther(Atom("GSS-SPNEGO")))),
        Auth(Other(AuthMechanismOther(Atom("GSSAPI")))),
        Auth(Other(AuthMechanismOther(Atom("KERBEROS_V4")))),
        Auth(Other(AuthMechanismOther(Atom("LOGIN")))),
        Auth(Other(AuthMechanismOther(Atom("MSN")))),
        Auth(Other(AuthMechanismOther(Atom("NONE")))),
        Auth(Other(AuthMechanismOther(Atom("NTLM")))),
        Auth(Other(AuthMechanismOther(Atom("OAUTHBEARER")))),
        Auth(Other(AuthMechanismOther(Atom("ONECOM")))),
        Auth(Other(AuthMechanismOther(Atom("OPENID20")))),
        Auth(Other(AuthMechanismOther(Atom("OTP")))),
        Auth(Other(AuthMechanismOther(Atom("PLAIN")))),
        Auth(Other(AuthMechanismOther(Atom("PLAIN-CLIENTTOKEN")))),
        Auth(Other(AuthMechanismOther(Atom("RPA")))),
        Auth(Other(AuthMechanismOther(Atom("SAML20")))),
        Auth(Other(AuthMechanismOther(Atom("SCRAM-MD5")))),
        Auth(Other(AuthMechanismOther(Atom("SCRAM-SHA-1")))),
        Auth(Other(AuthMechanismOther(Atom("SCRAM-SHA-256")))),
        Auth(Other(AuthMechanismOther(Atom("SCRAM-SHA-256-PLUS")))),
        Auth(Other(AuthMechanismOther(Atom("SECURID")))),
        Auth(Other(AuthMechanismOther(Atom("SHADOW")))),
        Auth(Other(AuthMechanismOther(Atom("SKEY")))),
        Auth(Other(AuthMechanismOther(Atom("SRP")))),
        Auth(Other(AuthMechanismOther(Atom("SYNOAUTH")))),
        Auth(Other(AuthMechanismOther(Atom("TOKEN")))),
        Auth(Other(AuthMechanismOther(Atom("X-BIO")))),
        Auth(Other(AuthMechanismOther(Atom("X-CHMAIL")))),
        Auth(Other(AuthMechanismOther(Atom("X-PLAIN-SUBMIT")))),
        Auth(Other(AuthMechanismOther(Atom("X-UMS")))),
        Auth(Other(AuthMechanismOther(Atom("X-WEBLOGIN")))),
        Auth(Other(AuthMechanismOther(Atom("X-ZIMBRA")))),
        Auth(Other(AuthMechanismOther(Atom("XGWTRUSTEDAPP")))),
        Auth(Other(AuthMechanismOther(Atom("XOAUTH")))),
        Auth(Other(AuthMechanismOther(Atom("XOAUTH2")))),
        Auth(Other(AuthMechanismOther(Atom("XSRVCTOKEN")))),
        Auth(Other(AuthMechanismOther(Atom("X_NORTEL_HMAC_MD5")))),
        Auth(Other(AuthMechanismOther(Atom("ZIMBRA")))),
    ],
    caps_tls: [],
    caps_auth: [],
    caps_tls_auth: [],
    starttls_response: Some("<tag> BAD STARTTLS not supported.\r\n"),
    starttls_transition: false,
    hook_authenticate: Terminate("Vulnerability, proceeded in plaintext."),
    hook_login: Terminate("Vulnerability, proceeded in plaintext."),
    hook_select: Terminate("Vulnerability, proceeded in plaintext."),
    pkcs12: (
        file: "certs/example.org.p12",
        password: "changeit",
    ),
    implicit_tls: false,
)
