(
    state: NotAuthenticated,
    greeting: Ok(
        tag: None,
        code: Some(Capability(NonEmptyVec(inner: [
            Imap4Rev1,
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "ANONYMOUS")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "BINARY")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM-MD5")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM-SH1")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM-SHA1")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM-SHA2")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM-SHA256")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM-SHA384")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM-SHA512")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM=SHA1")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "DIGEST-MD5")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "DIGEST-MD6")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "DPA")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "EL-TAC")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "EL-VOICE")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "EXTERNAL")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "GS2-IAKERB")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "GS2-KRB5")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "GSS-SPNEGO")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "GSSAPI")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "KERBEROS_V4")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "LOGIN")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "MSN")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "NONE")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "NTLM")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "OAUTHBEARER")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "ONECOM")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "OPENID20")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "OTP")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "PLAIN")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "PLAIN-CLIENTTOKEN")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "RPA")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "SAML20")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "SCRAM-MD5")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "SCRAM-SHA-1")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "SCRAM-SHA-256")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "SCRAM-SHA-256-PLUS")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "SECURID")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "SHADOW")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "SKEY")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "SRP")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "SYNOAUTH")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "TOKEN")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "X-BIO")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "X-CHMAIL")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "X-PLAIN-SUBMIT")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "X-UMS")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "X-WEBLOGIN")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "X-ZIMBRA")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "XGWTRUSTEDAPP")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "XOAUTH")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "XOAUTH2")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "XSRVCTOKEN")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "X_NORTEL_HMAC_MD5")))),
            Auth(Other(AuthMechanismOther(inner: Atom(inner: "ZIMBRA")))),
        ]))),
        text: Text(inner: "IMAP server ready.")
    ),
    caps: [
        Imap4Rev1,
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "ANONYMOUS")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "BINARY")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM-MD5")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM-SH1")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM-SHA1")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM-SHA2")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM-SHA256")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM-SHA384")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM-SHA512")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "CRAM=SHA1")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "DIGEST-MD5")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "DIGEST-MD6")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "DPA")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "EL-TAC")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "EL-VOICE")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "EXTERNAL")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "GS2-IAKERB")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "GS2-KRB5")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "GSS-SPNEGO")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "GSSAPI")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "KERBEROS_V4")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "LOGIN")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "MSN")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "NONE")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "NTLM")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "OAUTHBEARER")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "ONECOM")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "OPENID20")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "OTP")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "PLAIN")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "PLAIN-CLIENTTOKEN")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "RPA")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "SAML20")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "SCRAM-MD5")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "SCRAM-SHA-1")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "SCRAM-SHA-256")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "SCRAM-SHA-256-PLUS")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "SECURID")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "SHADOW")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "SKEY")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "SRP")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "SYNOAUTH")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "TOKEN")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "X-BIO")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "X-CHMAIL")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "X-PLAIN-SUBMIT")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "X-UMS")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "X-WEBLOGIN")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "X-ZIMBRA")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "XGWTRUSTEDAPP")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "XOAUTH")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "XOAUTH2")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "XSRVCTOKEN")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "X_NORTEL_HMAC_MD5")))),
        Auth(Other(AuthMechanismOther(inner: Atom(inner: "ZIMBRA")))),
    ],
    caps_tls: [],
    caps_auth: [],
    caps_tls_auth: [],
    starttls_response: Some("<tag> BAD STARTTLS not supported.\r\n"),
    starttls_transition: false,
    hook_authenticate: Terminate("Vulnerability, proceeded in plaintext."),
    hook_login: Terminate("Vulnerability, proceeded in plaintext."),
    hook_select: Terminate("Vulnerability, proceeded in plaintext."),
    pkcs12: (
        file: "certs/example.org.p12",
        password: "changeit",
    ),
    implicit_tls: false,
)
