(
    capabilities: [StartTLS],

    capabilities_tls: [Auth([Plain, Login])],

    // Step 1
    //ignore_commands_tls: ["ehlo"],
    // Step 2
    //stls_response: "220 Ready to start TLS\r\n250-example.org\r\n250 AUTH LOGIN\r\n",

	cert: Cert(
		crt_path: "certs/example.org.pem",
		key_path: "certs/example.org-key.pem",
	),
    implicit_tls: false,
)
