(
    capabilities: [StartTLS],

    capabilities_tls: [Auth([Plain])],

    cert: Cert(
        crt_path: "certs/example.org-unknown-root.pem",
        key_path: "certs/example.org-unknown-root-key.pem",
    ),
    implicit_tls: false,
)
