(
	state: NotAuthenticated,
	greeting: (
		kind: Ok,
		code: Some(Capability(NonEmptyVec([Imap4Rev1, StartTls, LoginDisabled]))),
		text: Text("IMAP server ready.")
	),
	caps: [Imap4Rev1, StartTls, LoginDisabled],
	caps_tls: [Imap4Rev1, Auth(Plain), Auth(Login)],
	caps_auth: [Imap4Rev1],
	caps_tls_auth: [Imap4Rev1],

	cert: Cert(
		crt_path: "certs/example.org-unknown-root.pem",
		key_path: "certs/example.org-unknown-root-key.pem",
	),
	implicit_tls: false,
)
