(
    state: NotAuthenticated,

    greeting: (
        kind: Ok,
        code: None,
        text: Text("...")
    ),

    starttls_response: Some("* OK [ALERT] Attacker-controlled text\r\n<tag> OK ...\r\n"),

    caps:          [Imap4Rev1],
    caps_tls:      [],
    caps_auth:     [],
    caps_tls_auth: [],

	cert: Cert(
		crt_path: "certs/example.org.pem",
		key_path: "certs/example.org-key.pem",
	),

    implicit_tls: false,
)
