(
    greeting: "+OK POP3 server ready.\r\n",

    capa: [],
    capa_auth: [],
    capa_tls: [],
    capa_tls_auth: [],

    hide_commands: ["capa"],

    stls_response: "-ERR STARTTLS not supported.\r\n",
    stls_make_transition: false,

	cert: Cert(
		crt_path: "certs/example.org.pem",
		key_path: "certs/example.org-key.pem",
	),
    implicit_tls: false,
)
