(
    greeting: "+OK POP3 server ready. <1234.123456789@example.org>\r\n",

    capa: ["USER", "SASL PLAIN", "STLS"],
    capa_auth: [],
    capa_tls: ["USER", "SASL PLAIN"],
    capa_tls_auth: [],

    //stls_response: "-ERR STARTTLS not supported.\r\n",
    //stls_make_transition: false,

	cert: Cert(
		crt_path: "certs/example.org.pem",
		key_path: "certs/example.org-key.pem",
	),
    implicit_tls: false,
)
