(
	state: NotAuthenticated,

	greeting: (
		kind: Ok,
		code: Some(BadCharset(allowed: [Atom(Atom("kkgIhdNV"))])),
		text: Text("MyF21bpV")
	),

	caps:          [],
	caps_tls:      [],
	caps_auth:     [],
	caps_tls_auth: [],

	cert: Cert(
		crt_path: "<not needed>",
		key_path: "<not needed>",
	),

	implicit_tls: false,
)

