(
	state: NotAuthenticated,

	greeting: (
		kind: Ok,
		code: Some(Parse),
		text: Text("uNiQTghK")
	),

	caps:          [],
	caps_tls:      [],
	caps_auth:     [],
	caps_tls_auth: [],

	cert: Cert(
		crt_path: "<not needed>",
		key_path: "<not needed>",
	),

	implicit_tls: false,
)

