(
	state: NotAuthenticated,

	greeting: (
		// TODO: This doesn't work anymore in imap-codec > 0.8.0.
		// kind: No,
		kind: Ok,
		code: None,
		text: Text("1BsL3pIq")
	),

	caps:          [],
	caps_tls:      [],
	caps_auth:     [],
	caps_tls_auth: [],

	pkcs12: (
		file: "<not needed>",
		password: "<not needed>",
	),

	implicit_tls: false,
)

