(
	state: NotAuthenticated,

	greeting: (
		kind: Bye,
		code: None,
		text: Text("X0n0fCj9")
	),

	caps:          [],
	caps_tls:      [],
	caps_auth:     [],
	caps_tls_auth: [],

	cert: Cert(
		crt_path: "<not needed>",
		key_path: "<not needed>",
	),

	implicit_tls: false,
)

