(
    capabilities: [StartTLS],

    capabilities_tls: [Auth([Plain])],
    override_response: {
        "ehlo": "500 Syntax error, command unrecognized\r\n",
        "RSET": "500 Syntax error, command unrecognized\r\n",
    },

	cert: Cert(
		crt_path: "certs/example.org.pem",
		key_path: "certs/example.org-key.pem",
	),
    implicit_tls: false,

    hook_data: Pass("Allow email to be send."),
)
