(
	state: NotAuthenticated,
	greeting: (
		kind: Ok,
		code: Some(Capability(NonEmptyVec([Imap4Rev1, StartTls, LoginDisabled]))),
		text: Text("IMAP server ready.")
	),

	starttls_response: Some("* STATUS INBOX (MESSAGES 718001 RECENT 718002 UIDNEXT 718003 UNSEEN 718004 UIDVALIDITY 718005)\r\n<tag> OK ready for starttls\r\n"),

	caps: [Imap4Rev1, StartTls, LoginDisabled],
	caps_tls: [Imap4Rev1, Auth(Plain), Auth(Login)],
	caps_auth: [Imap4Rev1],
	caps_tls_auth: [Imap4Rev1],

	cert: Cert(
		crt_path: "certs/example.org.pem",
		key_path: "certs/example.org-key.pem",
	),
	implicit_tls: false,
)
